<!DOCTYPE html>
<html>
<head>
  <title>RubyThursdays</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://yandex.st/highlightjs/8.0/styles/railscasts.min.css">
  <script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>

  <header>
    <a href="/">
      <div class="title">
        <em>Ruby</em>Thursdays
      </div>
    </a>

    <div class="tagline">
      - Robots Build Robots -
    </div>
  </header>

  <div class="sidebar">
    <%= render "shared/sidebar" %>
  </div>

  <%= yield %>

</body>
</html>
