<!DOCTYPE html>
<html>
<head>
  <title>RubyThursdays</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="sidebar">
    <%= render "shared/sidebar" %>
  </div>

  <header>
    <div class="title">
      <em>Ruby</em>Thursdays
    </div>

    <div class="tagline">
      Robots Build Robots
    </div>
  </header>

<%= yield %>

</body>
</html>
